body {
  background-image: url("img/camaro.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

#principal {
  margin: auto 25% auto 25%;
}

.div1 {
  background: rgba(255, 190, 150, 0.5);
  border: 1px solid black;
  height: 186px;
}

img {
  display: block;
  border: 1px solid black;
}

h1 {
  display: inline-block;
  text-decoration: none;
  font-size: 40px;
  text-align: center;
  position: relative;
  bottom: 5em;
  left: 35%;
}

a:hover {
  color: yellow;
}

a:active {
  color: green;
}

#present {
  display: inline-block;
  white-space: pre-line;
  text-align: right;
  font-size: 15px;
  position: relative;
  bottom: 12.5em;
  left: 54%;
}

table {
  border: 1px solid black;
}

th {
  border: 1px solid black;
}

.datet {
  border: 1px solid black;
  display: block;

}

.textet {
  border: 1px solid black;
  display: block;
  vertical-align: middle;
}

.titre {
  background: rgba(255, 255, 150, 0.5);
  border: 2px solid black;
  display: block;
  text-align: center;
  font-weight: bold;
  font-size: 20px;
}

.date {
  display: inline-block;
  white-space: pre-line;
  font-weight: bold;
}

.texte {
  display: block;
  margin-left: 7em;
  position: relative;
  bottom: 24px;
}

.texte.pro {
  margin-left: 3.3em;
}

.liste {
  display: block;
}

.competence {
  display: block;
  text-indent: 15px;
  line-height: 20px;
  text-decoration: underline;
  font-style: oblique;
  font-family: sans-serif;
}

.interets {
  text-decoration: underline;
  font-style: oblique;
  font-family: sans-serif;
  margin-left: 55px;
}
